
body {
    background-image: url(42.jpeg); background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(126, 190, 219);  
    margin: 0;  
}

header {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0px ;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #8c3d3d;
    text-align: center;
    padding: 0.rem;
    background-color: rgb(95, 143, 163);
    }

nav {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center; 
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #000;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: black;
    border-radius: 4px;
    color: white;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ContactUs{
    width: 80%
    height 100vh;
    display:flex;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(7, 7, 7, 7); 
    flex-direction: column;
    align-items: center;
    background-color: rgb(37, 150, 190);
    
    /* rgb(0, 204, 204);*/
    /*rgb(126, 190, 219);*/

}
.form-shape input, .form-shape select, .form-shape textarea{
    width: 95%;
    padding: 0.5rem;
    background-color: #ececec; 
    border: 1px solid #ccc; 
    color: #333; 
    border-radius: 10px; 
 }

 input[type="submit"],
input[type="reset"] {
    background-color: #0056b3;
    color: #ffffff;
    padding: 15px 85px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #780fa2;
}